.head_container li{
   list-style-type: none;
}
.head_container{
    height: 90px;
}
li a{
    text-decoration: none !important;
    color: white;
    font-size: 18px ;
    padding-left: 28px !important;
  
}
li h1{
    padding-top: 0px !important;
}
