li{
    margin-top: 10px !important;
    list-style-type: none;
   
}
i{
    padding-right: 10px !important;
    padding-bottom: 10px !important;
}
.blockquote{
    height: 480px !important;
}
.stud{
    margin-left: -10px !important;
}